<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'compounds/style.css' %}">
    <title>List of compounds</title>
</head>
<body>
    {% for mol_properties in mols_with_properties %}
        <li>
            <ul>
            {% for elem in mol_properties %}
                <li>{{elem}}</li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    {% for mol_properties in mols_with_properties %}
                    <li>
                        {{mol_properties.0}}
                        <ul>
                        {% for elem in mol_properties %}
                            <li>{{elem.0}} = {{elem.1}}</li>
                        {% endfor %}
                        </ul>
                    </li>
    {% endfor %}
</body>
</html>
</div>
-->
<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
            border: 1px solid;
        }
    </style>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Dashboard</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    </head>

    <body>
        <div class="grid-container">
            <header class="header">
                <div class="menu-icon" onclick="openSidebar()">
                    <span class="material-icons-outlined">menu</span>
                </div>
                <div class="header-left">
                    <span class="material-icons-outlined">search</span>
                </div>
                <div class="header-right">
                    <span class="material-icons-outlined">notification</span>
                    <span class="material-icons-outlined">account_circle</span>
                </div>
            </header>

            <aside id="sidebar">
                <div class="sidebar-title">
                    <div class="sidebar-brand">
                        <span class="material-icons-outlined">inventory</span> CiS-Dashboard
                    </div>
                    <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
                </div>

                <ul class="sidebar-list">
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">dashboard</span> Home
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">shopping_cart</span>
                          <a class="btn btn-primary" style="text-decoration:none; color:inherit;"
                               href="/compounds">Compounds</a>
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">inventory_2</span> Compare
                    </li>
                    <li class="sidebar-list-item">
                        <span class="material-icons-outlined">settings</span>
                            <a class="btn btn-primary" style="text-decoration:none; color:inherit;"
                               href="/upload">Upload</a>
                    </li>
                </ul>
            </aside>

<!-- <main class="main-container">
    <div class="main-title">
        <p class="font-weight-bold">COMPOUNDS</p>
    </div>
    <div class="main-cards">

        {% for mol_properties in mols_with_properties %}

                           -- <div style="float:middle; width:130px;height:130px;border:1px solid #000;">Picture goes here</div>

                <ul>
                    <div class="card">
                        <div class="container">
                            <h4><b>{{mol_properties.0}}</b></h4>
                            <p><div style="float:middle; width:130px;height:130px;border:1px solid #000;">Picture goes here</div></p>
                            --Vorübergehende Darstellung vom Bild
                                {% if mol_properties.0 == 'Ambroxol' %}
                                    <img src=”.\Ambroxol_300.png">
                                {% endif %}

                                {% if mol_properties.0 == 'Antidepressant' %}
                                    <p>bild</p>
                                {% endif %}

                                {% if mol_properties.0 == 'Arginine' %}
                                    <p>bild</p>
                                {% endif %}
                               --
                            {% for elem in mol_properties %}
                            <p><li>{{elem.0}} = {{elem.1}}</li></p>
                            {% endfor %}
                          </div>
                        </div>

                </ul>

        {% endfor %}

    </div>
</main> -->
<main class="main-container">
    <div class="main-title">
        <p class="font-weight-bold">COMPOUNDS</p>
    </div>
    <div class="main-cards">

        <ul>
            <div class="card">
                <table class="container">
                <thead>
                  <tr>
                      <th></th>
                      <th><h3>Molecule Name</h3></h3></th>
                      <th><h3>CID</h3></th>
                      <th><h3>H-Acceptors</h3></th>
                      <th><h3>H-Donors</h3></th>
                      <th><h3>IUPAC</h3></th>
                      <th><h3>Weight</h3></th>
                      <th><h3>Formula</h3></th>

                  </tr>
                </thead>
                <tbody>
                <style>
                .tab1 {
                    tab-size: 2;
                    }
                </style>
                 {% for mol_properties in mols_with_properties %}
                    <tr>
                        <td><div style="float:middle; width:130px;height:130px;border:1px solid #000;">Picture goes here</div></td>
                        <td>{{mol_properties.0}}</td>
                        <td>{{mol_properties.1.1}}</td>
                         <pre class="tab1"><td> {{mol_properties.2.1}}</td> </pre>
                         <td>{{mol_properties.3.1}}</td>
                         <td>{{mol_properties.4.1}}</td>
                         <td>{{mol_properties.5.1}}</td>
                         <td>{{mol_properties.6.1}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>


        </ul>



    </div>
</main>
<!-- <main class="main-container">
                <div class="main-title">
                    <p class="font-weight-bold">COMPOUNDS</p>
                </div>
                <div class="main-cards">
                   <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">{% for mol_properties in mols_with_properties %}
                    <li>
                        {{mol_properties.0}}
                        <div style="float:middle; width:130px;height:130px;border:1px solid #000;">Picture goes here</div>
                        <ul>
                        {% for elem in mol_properties %}
                            <li>{{elem.0}} = {{elem.1}}</li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}</p>
                    <ul>
                                <div class="card">
                                    <div class="container">
                                        <h4><b>{{mol_properties.0}}</b></h4>
                                        <p><div style="float:middle; width:130px;height:130px;border:1px solid #000;">Picture goes here</div></p>
                                        <!--Vorübergehende Darstellung vom Bild
                                            {% if mol_properties.0 == 'Ambroxol' %}
                                                <img src=”.\Ambroxol_300.png">
                                            {% endif %}

                                            {% if mol_properties.0 == 'Antidepressant' %}
                                                <p>bild</p>
                                            {% endif %}

                                            {% if mol_properties.0 == 'Arginine' %}
                                                <p>bild</p>
                                            {% endif %}
                                           -->
 <!--                                       {% for elem in mol_properties %}
                                        <p><li>{{elem.0}} = {{elem.1}}</li></p>
                                        {% endfor %}
                                      </div>
                                    </div>

                            </ul>

  
 <!--                       </div>
                    </div>
                </div> -->

<!--            <main class="main-container">
                <div class="main-title">
                    <p class="font-weight-bold">DASHBOARD</p>
                </div>
                {% for mol_properties in mols_with_properties %}
                    <li>
                        {{mol_properties.0}}
                        <ul>
                        <div style="float:left;width:90px;height:130px;border:1px solid #000;">Picture goes here</div>
                        {% for elem in mol_properties %}
                            <li>{{elem.0}} = {{elem.1}}</li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <div class ="frame">
                </div>
                <div class="column">
                    <img src="img_compound.gif" alt="Compund" style="width: 100%">
                </div> -->
<!--                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">Compounds</p>
                            <span class="material-icons-outlined">inventory_2</span>
                        </div>
                    </div>
                </div>
               <div class="chart">
                    <div class="charts-card">
                        <p class="chart-title">Line Chart</p>
                        <div id="area-chart"></div>
                    </div>
                    <div class="charts-card">
                        <p class="chart-title">Scatter Plot</p>
                        <div id="scatter-chart"></div>
                    </div>
                </div> -->
            </main>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
        {% load static %}
        <script src="{% static '/js/scripts2.js' %}"></script>
    </body>

