{% extends 'base.html' %}
    {% block main %}
    <style>
        .buttonn {
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }

        .buttonn1 {
            background-color: gray;
            color: white;
            border: 2px solid #808080;
        }

        .buttonn1:hover {
            background-color: #303030;
            color: white;
        }
        </style>
        <form method="post" action="{% url 'chart_result' %}">
            {% csrf_token %}
            <div class='main-header' id='chart-choice'>
                Chart Type
                <select name="chart-type" id="chart-type">
                    {% for type in data.chart_types %}
                        <option value="{{forloop.counter}}">{{type}}</option>
                    {% endfor %}
                </select>
                <div id='axis-choice'>
                    Select Properties
                    <div class="property-selector" id='x-div'>X-axis
                    <select name="x-axis" id="x-axis">
                        {% for property in data.property_list %}
                            <option value="{{forloop.counter}}">{{property}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="property-selector" id='y-div'>Y-axis
                    <select name="y-axis" id="y-axis">
                        {% for property in data.property_list %}
                            <option value="{{forloop.counter}}">{{property}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div id="set-selector">Select Sets<br>
                <select name="set_0" id="set_0">
                    {% for set in data.set_list %}
                        <option value="{{forloop.counter}}">{{set}}</option>
                    {% endfor %}
                </select>
                <button id="add-set" type="button">Add Set</button>
            </div>
            <button class="buttonn buttonn1" type="submit">Plot</button>
        </form>
        {% load static %}
        <script src="{% static 'js/chart_options.js'%}" defer></script>
        {{data|json_script}}
    {% endblock %}
