{% extends 'base.html' %}
    {% block main %}
        <form method="post" action="{% url 'chart_result' %}">
            {% csrf_token %}
            <div class='main-header'>
                Select Properties
                <div class="property-selector">X-axis</div>
                <select name="x-axis" id="x-axis">
                    {% for property in property_list %}
                        <option value="{{forloop.counter}}">{{property}}</option>
                    {% endfor %}
                </select>
                <div class="property-selector">Y-axis</div>
                <select name="y-axis" id="y-axis">
                    {% for property in property_list %}
                        <option value="{{forloop.counter}}">{{property}}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="set-selector">Select Sets<br>
                <select name="set_0" id="set_0">
                    {% for set in set_list %}
                        <option value="{{forloop.counter}}">{{set}}</option>
                    {% endfor %}
                </select>
                <button id="add-set" type="button">Add Set</button>
            </div>
            <button class="material-icons-outlined" type='submit'>search</button>
        </form>
        {% load static %}
        <script src="{% static 'js/chart_options.js'%}" defer></script>
        {{set_list|json_script}}
    {% endblock %}