{% extends 'base.html' %}

    {% block main %}
                <div class="main-title">
                    <p class="font-weight-bold">DASHBOARD</p>
                </div>
                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <p class="text-primary">Compounds</p>
                            <span class="material-icons-outlined">inventory_2</span>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <div class="charts-card">
                        <p class="chart-title">Line Chart</p>
                        <div id="area-chart"></div>
                    </div>
                    <div class="charts-card">
                        <p class="chart-title">Scatter Plot</p>
                        <div id="scatter-chart"></div>
                    </div>
                </div>
    {% endblock %}