{% extends 'base.html'%}
    {% block main %}
        <table style="width:100%">
            <tr>
                {% for entry in header %}
                    <th>{{entry}}</th>
                {% endfor %}
            </tr>
            {% for row in table %}
            <tr>
                {% for entry in row %}
                    {% if forloop.counter == 1 %}
                        <th><img src="{{row.0}}"></img></th>
                    {% else %}
                        <th><a>{{entry}}</a></th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endblock %}