{% extends 'base.html'%}
    {% block main %}
        <table style="width:100%">
            <tr>
                {% for entry in header %}
                    <th>{{entry}}</th>
                {% endfor %}
            </tr>
            {% for row in table %}
            <tr>
                <th><img src="{{row.8}}"></img></th>
                {% for entry in row %}
                    {% if forloop.counter < 2 %}
                        <th><a href="/compounds/data/compounds/{{entry}}">{{entry}}</a></th>
                    {% else %}
                        {% if forloop.counter != 9 %}
                        <th><a>{{entry}}</a></th>
                        {% else %}
                        
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    {% endblock %}