{% extends 'base.html' %}
    {% block main %}
        <div class="main-header">SDF Upload</div>
        {% if err_msg %}
            <div class="main-header">{{err_msg}}</div>
        {% endif %}
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit_upload">Upload</button>
        </form>
        {% if existing_uploads %}
        <table style="width: 100%;">
            <tr>
                {% for entry in existing_uploads.headers %}
                <th>{{entry}}</th>
                {% endfor %}
            </tr>
            {% for entry in existing_uploads.data %}
                <tr>
                    {% for attr in entry %}
                        <th>{{attr}}</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endblock %}